.tweet {
	width: 38rem;
	background: grey;
	position: relative;
}

.tweet__column {
	display: inline-block;
}

.tweet__icon {
	width: 1rem;
}

.tweet__main {
	width: 25rem;
	background: red;
}

.tweet__menu {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.avatar {
	width: 10rem;
	background: blue;
	vertical-align: top;
}

.avatar__image {
	width: 100%;
}